

@media screen and (max-width:991px) {
    .nav-head{

        display: block;
    }  
    .nav-head button{
        margin-left: 40% ;
    } 
    
    .image-area {
        margin: auto;
    }
    .about-area {
       
        margin-bottom: 40px;
    }

    .box-area {
      
height: auto;
      
border-radius: 15px;
      
margin-bottom: 40px;
    }
    .img-area {
        
        margin-bottom: 40px;
    }
    .img-area img {
        width: 100%;
        height: auto;
        
    }
}
@media screen and (max-width:421px) {
    .nav-head{

        display: block;
    }  
    .nav-head button{
        margin-left: 30% ;
    }  
    .content-area h1 {
        font-size: 60px;
       
    }
}
@media screen and (min-width:1400px){
    .about-area {
        border: 2px solid #c484a6;
        padding: 35px 25px 75px;
        border-radius: 0px 62px 0px 62px;
    }
}

@media screen and (max-width:1199px){
    .about-area {
        border: 2px solid #c484a6;
        padding: 30px 25px 30px;
        border-radius: 0px 62px 0px 62px;
    }
    .skill-area {
        border: 2px solid #c484a6;
        padding: 30px 25px 52px;
        border-radius: 15px;
    }
    
}


/****graphic-area*****/

@media screen and (max-width:1023px) {
    .box-img {
       
        height: 70%;
        top: 15%;
       
    }
    .logoBox {
      
        height: 50%;
        top: 25%;
       
    }
}